body {
  background-color: #f49e1f;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-X {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #55ACEE;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  background-color: #f49e1f;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}